[user]
	name = Morgan Joyce
	email = morganj2k@gmail.com
[core]
	editor = nvim
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[includeIf "gitdir:/mnt/c/Sertifi/"]
	path=C:/mnt/c/Sertifi/.gitconfig-work
[includeIf "gitdir:C/Sertifi/"]
	path=C:/.gitconfig-work
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
        helper = !/usr/bin/gh auth git-credential

