{:allowed-directories ["."
                       ".."
                       "../.."
                       "../../.."
                       "~/ppv"
                       "~/ppv/pillars"
                       "~/ppv/pillars/dotfiles"
                       "~/ppv/pillars/Sertifi"]}